.accordion-header {
  outline: none;
  cursor: pointer;
  .rc-collapse-item-active & {
    border-bottom: 1px solid getColor("grey.15");
  }
  @include e(inner) {
    display: flex;
    justify-content: space-between;
    padding: getSpacing("5x") getSpacing("4x");
  }
  @include e(title) {
    @include getHeaderFontSize("h6");
    font-weight: getFontWeight("semibold");
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: getColor("grey.60");
    .rc-collapse-item-active & {
      color: getColor("grey.90");
      font-weight: bold;
    }
  }
  @include e(num) {
    margin-right: getSpacing("3x");
  }
  @include e(icon) {
    width: 18px;
    height: auto;
    color: getColor("tertiary-blue.60");
    margin-left: getSpacing("2x");
  }
  @include e(icon-indicator) {
    @include transition();
    .rc-collapse-item-active & {
      @include transition();
      transform: rotateX(180deg);
    }
  }
}
.rc-collapse-item {
  &:not(:last-child){
    border-bottom: 1px solid getColor("grey.15");
  }
}
.rc-collapse-content-inactive {
  display: none;
}
.rc-collapse-content {
  overflow: hidden;

}
