.gear {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 0;
  animation-play-state: running;
  animation-fill-mode: forwards;

  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: normal;
  -moz-animation-delay: 0;
  -moz-animation-play-state: running;
  -moz-animation-fill-mode: forwards;

  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 0;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;

  @include e(small) {
    -moz-animation-name: ckw;
    -moz-animation-duration: 10.2s;

    -webkit-animation-name: ckw;
    -webkit-animation-duration: 10.2s;
    position: absolute;
    top: -16px;
    right: -24px
  }

  @include e(large) {
    -moz-animation-name: cckw;
    -moz-animation-duration: 10.2s;

    -webkit-animation-name: cckw;
    -webkit-animation-duration: 10.2s;
  }
}

@keyframes ckw {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes ckw {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes ckw {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes cckw {
  0% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
  100% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes cckw {
  0% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
  100% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
}

@keyframes cckw {
  0% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
  100% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
}

