.tooltip-table {
    box-shadow: 0px 2px 38px rgba(0, 0, 0, 0.03);
    border-radius: $input-border-radius;
  @include e(header) {
    padding: getSpacing("3x") getSpacing("5x");
    border-bottom: 1px solid getColor("grey.40");
    text-align: left;
  }

  @include e(title) {
    font-weight: getFontWeight("bold");
    font-size: getFontSize("body1");
    color: getColor("grey.80");
  }

  table {
    td,th {
      border: 0;
    }
    tr{
      &:nth-child(odd) {
        td {
          padding: getSpacing("3x")  getSpacing("4x");
        }
      }
      &:nth-child(even) {
        background: getColor("grey.25");
        td {
          padding: getSpacing("1x") getSpacing("4x");
          background: getColor("grey.25");
        }
      }
    }
    td {
      text-align: left;
      color: getColor("grey.70");
      font-size: getFontSize("small");
      &:first-child {
        text-align: right;
        font-weight: getFontWeight("semibold");
      }
    }
  }
}